name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [22, 24]
    timeout-minutes: 10
    steps:
      - name: Configuring Git with line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          cache-dependency-path: ./package-lock.json
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == 24
        with:
          name: lib-build
          path: ./dist

  build-sandbox:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 10
    steps:
      - name: Configuring Git with line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v5

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: lib-build
          path: ./dist

      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          cache-dependency-path: ./package-lock.json
          node-version: 24

      - name: Install dependencies
        run: (cd ./sandbox && npm ci)

      - name: Test
        run: (cd ./sandbox && npm run test)

      - name: Build
        run: (cd ./sandbox && npm run build)
