name: Publish Node.js Package

on:
  release:
    types: [published]

jobs:
  lint:
    uses: costrojs/costro/.github/workflows/lint.yml@main

  npm:
    needs: lint
    uses: yoriiis/actions/.github/workflows/npm-publish.yml@main
    with:
      command-test: npm run build && npm run test
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
